$font1: "Outfit", sans-serif;
$font2:"Young Serif", sans-serif;
$bgcolor : hsl(30, 54%, 90%);
$recipenamecol : hsl(24, 5%, 18%);
$prep:hsl(330, 100%, 98%);
$preplist:  hsl(332, 51%, 32%);
$otherheading: hsl(14, 45%, 36%);
$para:hsl(30, 10%, 34%);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
%flexbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body{
    @extend %flexbox;
    align-items: center;
    background-color: $bgcolor;
}
.container{
    @extend %flexbox;
    align-items: center;
    width: 55%;
    height: 100%;
    margin: 9rem;
    border-radius: 20px;
    background-color: white;
}
.image1 {
  width: 97%;
  padding: 4%;
  border-radius: 50px;
}
.text
{   
    @extend %flexbox;
    padding: 0 4% 4% 4%;
  margin: 0 35px 0 25px;
  gap: 25px;
    h1{
    font-family: $font1;
    color: $recipenamecol;
    }
    p {
        color: hsl(30, 10%, 34%);
        font-family: $font1;
        font-weight: 500;
      }
}
.prep {
    background-color: $prep;
    padding: 4%;
    line-height: 1.5rem;
    font-family: $font1;
    border-radius: 20px;
    h3 {
        margin: 2px;
        color:$preplist;
      }
      ul {
        padding: 1% 0 0 5%;
      }
  }
  .ingredients {
  h2 {
    font-family: $font2;
    color: $otherheading;
  }
  ul {
    padding: 2% 4% 0 4%;
    line-height: 1.5rem;
    font-family: $font1;
    color: $para;
    font-weight: 500;
  }
}
.instructions
{ 
    h2 {
    font-family: $font2;
    color: $otherheading;
  }
  ol {
    padding: 2% 4% 0 4%;
    line-height: 1.5rem;
    font-family: $font1;
  }
  li {
    color: $otherheading;
    font-weight: 700;
  }
  span {
    color: $para;
    font-weight: 400;
  }
}
.nutrition {
h2 {
    font-family: $font2;
    color:$otherheading;
    padding-bottom: 20px;
  }
 p {
    font-family: $font1;
    color: $para;
    padding-bottom: 30px;
  }
 table {
    font-family: $font1;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    font-weight: 600;
  }
}
%tablepd{
 padding: 10px;
}
.tdborder {
  border-bottom: 1px solid hsl(30, 18%, 87%);
 @extend %tablepd;
  color: $para;
}
.td1 {
  color: $otherheading;
   @extend %tablepd;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.td2 {
  color : $para;
  @extend %tablepd;
}
.td3 {
  color: $otherheading;
 @extend %tablepd;
}