@use 'base';
.container{
    @extend %flexbox;
    align-items: center;
    flex-direction: column;
    @include width;
    max-width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius:15px;
    box-shadow: 10px 10px black;
    background-color: $white;
}
.image{
    @extend %flexbox;
    @include width;
   img{
    @include width;
    border-radius:15px;
   }
}
.textbox{
    @extend %flexbox;
    flex-direction: column;
    text-align: left;
 gap: 20px;
    margin-top: 20px;   
    p{
        @include fwt;
    }
    span{
        color: $grey;
    }
}

.learning{
    @extend %flexbox;
    align-items: center;
    background-color: $yellow;
    color: $black;
    @include width($w:max-content);
    padding: 10px;
    height: 30px;
    border-radius: 7px;
    @include fwt($wt:800);
}
#a{
    font-size: 25px;
    @include fwt($wt:800);
    
    &:hover{
        color: $yellow;
        cursor: pointer;
    }
}
.author{
    @extend %flexbox;
    gap: 1rem;
    margin-right: auto;
}
.avatar 
{img{
    @include width($w:35px);
    height: 35px;
    justify-content: center;
}}
.name{
    justify-content: center;
    align-items: center;
    @include fwt($wt:800);
}